*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    background-color: #4cbbb7;
}

/*font colors and sizes*/
h2{
    color: #4cbbb7;
    font-size: 2rem;
}

/*navbar*/
.navbar{
    background-color: rgba(250, 250, 250, 0.95);
    display: flex;
    padding: 10px;
    align-items: center;
    height: 5vh;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
}

.logo{
    height: 4vh;
}

ul{
    display: flex;
    width: 80%;
    justify-content: space-around;
    list-style: none;
    padding-left: 10vw;
}

ul{
    color: black;
    text-decoration: none;
}

ul a:link{
    text-decoration: none;
}

ul a:visited{
    text-decoration: none;
    color: black;
}

ul a:hover{
    color: #4cbbb7;
    text-decoration: none;
}

ul a:actice{
    text-decoration: none;
    color: #4cbbb7;
}

/*main section*/
main{
    margin-top: 9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home, 
.services, 
.testimonies, 
.contact{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 2vh;
    border-radius: 10px;
    padding: 5vh;
    height: 50vh;
    margin: 3vh;
 }

.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.david{
    height: 40vh;
    margin-left: 5vh;
}

/*footer*/
.footer{
    width: 75%;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-around;
}

.footer img{
    width: 3vw;
    
}

.footer .logo-transparent{
    width: 10vw;
}