*{
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #89D5D2;
}

nav{
    background-color: rgba(250, 250, 250, 0.95);
    display: flex;
    padding: 10px;
    margin: 0px;
}

section{
    background-color: white;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
}