*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    background-color: #4cbbb7;
}

.navbar{
    background-color: rgba(250, 250, 250, 0.95);
    display: flex;
    padding: 10px;
    align-items: center;
    height: 5vh;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
}

ul{
    display: flex;
    width: 80%;
    justify-content: space-around;
    list-style: none;
    padding-left: 10vw;
}

main{
    margin-top: 9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    background-color: white;
    width: 95%;
    margin: auto;
    margin-top: 2vh;
    border-radius: 10px;
    padding: 5vh;
    height: 50vh;
    margin: 3vh;
 }

.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.david{
    height: 40vh;
    margin-left: 5vh;
}

